@font-face {
  font-family: "ShlomosemiStam";
  src: url(/src/assets/fonts/ShlomosemiStam.ttf);
}

.Root {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  > * {
    flex-grow: 1;
  }
}
.Header {
  background-color: #9c27b0;
  color: white;
  padding: 16px;
  .link {
    color: #e1bee7;
  }
  @media print {
    display: none;
  }
}
.List {
  margin: 16px;
  font-size: 20px;
  li {
    margin-bottom: .3em;
  }
}
.ListEntry {
  display: flex;

  .Location {
    font-size: 16px;
    display: inline-block;
    width: 7em;
    color: #4a148c;
    flex-shrink: 0;
    @media screen and (max-width: 400px) {
      width: 4em;
      
    }
  }
  .Pasuk {
    font-family: ShlomosemiStam;
  }
}
